* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(224 203 192);
  margin: 0 auto;
}
.main {
  visibility: hidden;
  transition: all 0.3s;
  position: sticky;
  top: 0;
}
/* Loader */
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(60, 57, 52, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.loaded {
  transition: all 0.4s;
}
.loader-contents {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader-title {
  font-size: 2rem;
  position: fixed;
  letter-spacing: 0.8rem;
  font-weight: 400;
  color: darksalmon;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
}
.loader-title strong {
  font-family: cursive;
}

.loader-contents span {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #fdefde;
  animation: animate 3s linear infinite;
}

.loader-contents span:nth-child(1) {
  border-radius: 56% 44% 30% 70% / 80% 64% 36% 20%;
}
.loader-contents span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 73% 27% 73% 27% / 29% 74% 26% 71%;
}
.loader-contents span:nth-child(3) {
  animation-delay: 1s;
  border-radius: 36% 64% 55% 45% / 69% 68% 32% 31%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body h2 {
  margin: 50px auto;
  font-family: "Noto Serif Display", serif;
  font-weight: 300;
  font-size: 3rem;
}
body h1 {
  font-family: "Noto Serif Display", serif;
}
body h3 {
  margin: 15px auto;
}
body p {
  color: #333;
  line-height: 1.4rem;
}
header {
  width: 100%;
  position: fixed;
  z-index: 99;
}
/* nav */
#nav {
  opacity: 0;
  transition: all 0.5s;
  width: 0;
  height: 0;
}
#nav a {
  color: #fdefde;
  text-decoration: none;
  font-size: 1.5rem;
}
/* header */
.header-contents {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  position: fixed;
  right: 0;
  transition: ease 0.6s;
}
.header-contents a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 2rem;
}
.header-contents a:hover {
  color: #a94b47;
}
.section {
  margin-bottom: 80px;
}
/* main visual */
.mv-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  position: relative;
}
.mv-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  z-index: 3;
  margin: 0 auto;
}

.mv-contents p {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: rotate(-90deg);
  left: 50%;
  font-size: 2rem;
}
.mv-contents h1 {
  font-size: 5rem;
  font-weight: 200;
  margin-left: 10px;
  color: #333;
}
.sub {
  font-size: 1rem;
}
.mv-image {
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0;
}
.mv-image img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  /* filter: blur(10px); */
}

/* Project */
.project h2 {
  padding-left: 20px;
}
.project-contents {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}
.project-box {
  width: 300px;
  margin: 0 auto;
}
.project-pic {
  height: 200px;
  position: relative;
}
.project-pic img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.project-mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  opacity: 0;
  color: #eee8de;
  font-family: "M PLUS 1p", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.project-pic:hover .project-mask {
  opacity: 1;
}
.project-text {
  text-align: center;
}
.project-text p {
  color: #eee8de;
  font-size: 12px;
  line-height: 1.3rem;
}
.viewProject {
  display: flex;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
}
.viewProject a {
  color: #eee8de;
}

.tools {
  display: flex;
}
.tools li {
  list-style: none;
  text-align: center;
  padding: 0 10px;
  border: solid 1px #d2c8b9;
  font-size: 10px;
  background-color: #d2c8b9;
  color: #333;
  border-radius: 20px;
  margin: 0 5px;
}
.project-link-p {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
  padding-right: 50px;
  width: 100%;
}

/* Skills */
.skills-contents {
  text-align: center;
  background-color: #eee8de;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  width: 500px;
  margin-bottom: 50px;
}
.skills-icon p {
  line-height: 1.6rem;
  padding: 10px;
}

/* About  */
.about-contents {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.about-contents h2 {
  padding-left: 20px;
}
.about-me {
  display: flex;
  justify-content: center;
}
.about-me p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-left: 30px;
  max-width: 500px;
}
.about-me img {
  width: 150px;
  height: 250px;
  object-fit: cover;
}
.about-images {
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-images img {
  object-fit: cover;
  padding: 30px;
  width: 300px;
}

.contact {
  text-align: center;
  margin-bottom: 80px;
}
.icons {
  line-height: 3rem;
  font-size: 1.2rem;
  color: #333;
}

.icons a {
  text-decoration: none;
  color: #333;
  position: relative;
}
.icons a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: #a94b47;
  transition: all 0.3s;
  transform: scaleX(0);
}
.icons a:hover::after {
  width: 100%;
  transform: scaleX(1);
}
.footer-text {
  text-align: center;
  margin: 80px auto 0px;
}
.footer-text p {
  line-height: 4rem;
  background-color: #333;
  color: #fdefde;
}

#topButton {
  padding-right: 20px;
  display: flex;
  justify-content: end;
}
#topButton a {
  z-index: 99;
  color: #333;
}

@media screen and (max-width: 1024px) {
  .name-contents p {
    top: 50%;
  }
  .project-contents {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .header-contents {
    display: none;
  }
  .hamburger {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    display: block;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    background-color: #000;
    transition: transform 0.3s;
  }
  .hamburger span:first-child {
    top: 4px;
  }

  .hamburger span:last-child {
    bottom: 4px;
  }
  .hamburger.active span:first-child {
    transform: translateY(10px) rotate(-315deg);
    background-color: #eee8de;
  }

  .hamburger.active span:last-child {
    transform: translateY(-10px) rotate(315deg);
    background-color: #eee8de;
  }

  #nav.active {
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #333;
    color: #d2c8b9;
    height: 50vh;
  }
  #nav ul {
    margin: 30px auto;
  }
  #nav ul li {
    line-height: 5rem;
    list-style: none;
  }
  .name-contents h1 {
    font-size: 3rem;
    font-weight: 100;
    background-color: rgb(224 203 192);
    width: 350px;
    padding: 0 30px;
  }
  .name-contents p {
    display: none;
  }
  .mv-image {
    width: 100%;
  }
  .mv-contents h1 {
    font-size: 4rem;
  }
  .project-contents {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-box {
    padding-bottom: 30px;
  }
  .about-me {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about-me img {
    margin-bottom: 20px;
  }
  .about-me p {
    margin: 16px;
  }

  .skills-icon {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .project,
  .about {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}
